.blind {
  @include blind;
}

.hidden {
  display: none;
}

body {
  position: relative;
  overflow-x: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}