.header {
  @include aic;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  background-color: transparent;
  z-index: 1000;
  transition: background-color .3s;
  @include vp1200 {
    padding: 0 20px;
  }
  @include vp768 {
    padding: 0 10px;
  }
  .logo {
    a {
      @include aic;
      img {
        width: 120px;
        vertical-align: middle;  
      }      
      img:nth-child(2) ~ img {
        margin-left: 30px;
      }
    }
  }
  .nav {
    height: 100%;
    @include vp1200 {
      display: none;
    }
    .gnb {
      @include aic;
      @include ab(50%, 50%);
      height: 100%;
      .depth1:nth-child(1) ~ .depth1:not(.depth2 > li){
        margin-left: 100px;
        @include vp1600 {
          margin-left: 60px;
        }
      }
      .depth1 {
        height: 100%;
        position: relative;
        a {
          @include aic;
          height: 100%;
          padding: 0 20px;
          font-size: 19px;
          font-weight: 500;
          color: $whitef7;
          text-transform: uppercase;
          @include vp1600 {
            font-size: 17px;
          }
        }
        a::after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          height: 4px; 
          background-color: $blue2d;
          transform: scaleX(0);
          transition: .2s ease-in-out;
        }
        a:focus::after,
        a:hover::after{
          transform: scaleX(1);
        }
        .gnb2 {
          display: none;
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 100%);
          padding-top: 10px;
          .depth2 {
            padding: 10px 0;
            text-align: center;
            a {
              position: relative;
              display: inline-block;
              padding: 0;
              color: $black;
              font-size: 17px;
              white-space: nowrap;
            }
            a::after {
              height: 1px;
              background-color: #000;
            }
            a:hover::after,
            a:focus::after {
              transform: scale(1);
            }
          }
        }
      }
    }
    .depth-bg {
      height: 0;
      opacity: 0;
    }
  }
  .spot-menu {
    @include aic;
    a {
      height: 30px;
      padding: 0 20px;
      @include vp1200 {
        padding: 0 10px;
      }
      i {
        width: 19px;
        height: 21px; 
        color: $whitef7; 
      }
      img {
        width: 22px;
        height: 21px;
      }
    }     
    .kakao {
      @include vp768 {
        display: none;
      }
    }
    :nth-child(3) {
      display: none;
    }
    button {
      background-color: transparent;
      padding: 0 20px;
      @include vp1200 {
        padding: 0 10px;
      }
    } 
    span {
      padding-left: 8px;
      font-size: 13px;
      color: $whitef7;
      @include vp1200 {
        display: none;
      }
    }
    .bars {
      display: none;
      color: $whitef7;
      font-size: 21px;
      @include vp1200 {
        display: block;
      }
    }
  }
  &.show {
    background-color: $white;
    .nav {
      .gnb {
        .depth1 {
          a {
            color: $black;
          }
          .gnb2 {
            display: block;
          }
        }
      }
      .depth-bg {
        position: absolute;
        top: 100px;
        left: 0;
        background-color: #fff;
        width: 100%;
        height: 200px;
        z-index: -1;
        opacity: 1;
        transition: all .3s;
        border-top: 1px solid #D2E0E9;
      }
    }
    .spot-menu {
      a {
        i {
          color: $black; 
        }
        span {
          color: $black;
        }
      } 
    }
  }
}
