.program-sec {  
  padding: 180px 0;
  @include vp768 {
    padding: 100px 0;    
  }
  .container {
    .program { 
      display: flex; 
      flex-direction: column;
      align-items: flex-end;
      margin-top: -120px;
      @include vp768 {
        margin-top: 0px;
      }
      .program-item {
        position: relative;
        width: calc(50% - 60px);
        padding-right: 20px;
        @include vp768 {
          width: 100%;
          max-width: 600px;
          margin-top: 50px;
        }
        a {
          .img-box {
            position: relative;
            width: 100%;
            padding-top: 80%;
            overflow: hidden;
            img {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
              transition: .3s;
            }
          }
          .text-box {
            margin-top: 25px;
            .p-text {
              margin-top: 15px;
            }
          }
          .side-text {
            position: absolute;
            top: 0;
            right: 15px;
            transform: translateX(100%);          
            span {
              color: $blue2d;
              font-size: 14px;
              font-weight: 600;
              writing-mode: vertical-rl;
            }
          }
        }
        :hover img {
          transform: scale(1.05);
        }
      }
      .program-item:nth-child(2) {
        align-self: flex-start;
        margin-top: -200px;
        @include vp768 {
          margin-top: 50px;
        }
      }
      .program-item:nth-child(3) {
        margin-top: -250px;
        @include vp1200 {
          margin-top: -150px;
        }
        @include vp768 {
          margin-top: 50px;
        }
      }
    }
  }
}