.slide1 .img-box {
  background: url('../images/img-visual1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.slide2 .img-box {
  background: url('../images/img-visual2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}