/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, nav, section, article, header, footer, main, aside, dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {
  margin: 0;
  padding: 0;
}

body, input, select, textarea, button, img, fieldset {
  border: none;
}

ul, ol, li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

address, cite, code, em, i {
  font-style: normal;
  font-weight: normal;
}

label, img, input, select, textarea, button, a {
  vertical-align: middle;
}

u, a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

a:hover, a:active {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Normalize */
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  outline: 0;
}

textarea {
  resize: none;
}

.blind {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.hidden {
  display: none;
}

body {
  position: relative;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
}

button {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 0) and (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.p-title {
  font-size: 32px;
  font-weight: 600;
}
@media (min-width: 0) and (max-width: 1200px) {
  .p-title {
    font-size: 28px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .p-title {
    font-size: 20px;
  }
}

.p-text {
  font-size: 17px;
}
@media (min-width: 0) and (max-width: 1200px) {
  .p-text {
    font-size: 15px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .p-text {
    font-size: 13px;
  }
}

@keyframes fadezoom {
  from {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}
@keyframes scrolldown {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(25px);
    opacity: 0;
  }
}
.header .nav {
  height: 100%;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 0) and (max-width: 1200px) {
  .header .nav {
    position: fixed;
    top: 0;
    left: 100%;
  }
}
.header .nav .gnb {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}
@media (min-width: 0) and (max-width: 1200px) {
  .header .nav .gnb {
    display: none;
  }
}
.header .nav .gnb .depth1:nth-child(1) ~ .depth1:not(.depth2 > li) {
  margin-left: 100px;
}
@media (min-width: 0) and (max-width: 1600px) {
  .header .nav .gnb .depth1:nth-child(1) ~ .depth1:not(.depth2 > li) {
    margin-left: 60px;
  }
}
.header .nav .gnb .depth1 {
  height: 100%;
  position: relative;
}
.header .nav .gnb .depth1 > a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  font-size: 19px;
  font-weight: 500;
  color: #f7f7f7;
  text-transform: uppercase;
}
@media (min-width: 0) and (max-width: 1600px) {
  .header .nav .gnb .depth1 > a {
    font-size: 17px;
  }
}
.header .nav .gnb .depth1 > a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  background-color: #2D51D6;
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}
.header .nav .gnb .depth1 > a:focus::after,
.header .nav .gnb .depth1 a:hover::after {
  transform: scaleX(1);
}
.header .nav .gnb .depth1 .gnb2 {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
  padding-top: 10px;
}
.header .nav .gnb .depth1 .gnb2 .depth2 {
  padding: 10px 0;
  text-align: center;
}
.header .nav .gnb .depth1 .gnb2 .depth2 > a {
  position: relative;
  display: inline-block;
  padding: 0;
  color: #000;
  font-size: 17px;
  white-space: nowrap;
}
.header .nav .gnb .depth1 .gnb2 .depth2 > a::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #000;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.header .nav .gnb .depth1 .gnb2 .depth2 > a:hover::after,
.header .nav .gnb .depth1 .gnb2 .depth2 a:focus::after {
  transform: scale(1);
}
.header .nav .close {
  display: none;
}
.header .nav .depth-bg {
  height: 0;
  opacity: 0;
}
.header .nav.on {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 20px 0;
  background-color: #2D51D6;
}
.header .nav.on .gnb {
  display: block;
  position: static;
  transform: none;
  margin-top: 80px;
}
.header .nav.on .gnb .depth1 {
  height: auto;
}
.header .nav.on .gnb .depth1 > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  color: #fff;
  pointer-events: none;
  cursor: pointer;
}
.header .nav.on .gnb .depth1 > a::after {
  content: "\f078";
  position: static;
  transform: none;
  font-family: "Font AWESOME 5 Free";
  font-weight: 900;
  background-color: transparent;
  height: auto;
}
.header .nav.on .gnb .depth1 > a:focus::after,
.header .nav.on .gnb .depth1 a:hover::after {
  transform: none;
}
.header .nav.on .gnb .depth1 .gnb2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 0;
  height: auto;
  overflow: hidden;
  position: static;
  transform: none;
  background-color: #1939af;
}
.header .nav.on .gnb .depth1 .gnb2 .depth2 {
  padding: 0 30px;
  text-align: left;
  display: flex;
  align-items: center;
  height: 0px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
}
.header .nav.on .gnb .depth1 .gnb2 .depth2 > a {
  font-size: 15px;
  color: #fff;
}
.header .nav.on .gnb .depth1.on .depth2 {
  height: 60px;
}
.header .nav.on .gnb .depth1.on .depth2 > a::after {
  display: none;
}
.header .nav.on .gnb .depth1:nth-child(1) ~ .depth1:not(.depth2 > li) {
  margin-left: 0;
}
.header .nav.on .gnb :nth-child(3) > a {
  pointer-events: unset;
}
.header .nav.on .gnb :nth-child(3) > a::after {
  display: none;
}
@media (min-width: 0) and (max-width: 1200px) {
  .header .nav.on .close {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: #fff;
    background-color: transparent;
  }
}

.header.show .nav .gnb .depth1 a {
  color: #000;
}
.header.show .nav .gnb .depth1 .gnb2 {
  display: block;
}
.header.show .nav .depth-bg {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 200px;
  z-index: -1;
  opacity: 1;
  transition: all 0.3s;
}
@media (min-width: 0) and (max-width: 1200px) {
  .header.show .nav .depth-bg {
    display: none;
  }
}

.header.scroll .nav .gnb .depth1 a {
  color: #000;
}
@media (min-width: 0) and (max-width: 1200px) {
  .header.scroll .nav .gnb .depth1 a {
    color: #fff;
  }
}

.header .spot-menu {
  display: flex;
  align-items: center;
}
.header .spot-menu .login {
  display: flex;
}
.header .spot-menu .login i {
  font-size: 21px;
  color: #fff;
}
@media (min-width: 0) and (max-width: 768px) {
  .header .spot-menu .login i {
    font-size: 18px;
  }
}
@media (min-width: 0) and (max-width: 1600px) {
  .header .spot-menu .login span {
    display: none;
  }
}
.header .spot-menu a {
  height: 30px;
  padding: 0 20px;
}
@media (min-width: 0) and (max-width: 1200px) {
  .header .spot-menu a {
    padding: 0 10px;
  }
}
.header .spot-menu a img {
  width: 22px;
  height: 21px;
}
@media (min-width: 0) and (max-width: 768px) {
  .header .spot-menu .kakao {
    display: none;
  }
}
.header .spot-menu .kakao-b {
  display: none;
}
.header .spot-menu button {
  background-color: transparent;
  padding: 0 20px;
}
@media (min-width: 0) and (max-width: 1200px) {
  .header .spot-menu button {
    padding: 0 10px;
  }
}
.header .spot-menu span {
  padding-left: 8px;
  font-size: 13px;
  color: #f7f7f7;
}
@media (min-width: 0) and (max-width: 1200px) {
  .header .spot-menu span {
    display: none;
  }
}
.header .spot-menu .bars {
  display: none;
  color: #f7f7f7;
  font-size: 21px;
}
@media (min-width: 0) and (max-width: 1200px) {
  .header .spot-menu .bars {
    display: flex;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .header .spot-menu .bars {
    font-size: 18px;
  }
}

.header.show .spot-menu .login i {
  color: #000;
}
.header.show .spot-menu .login span {
  color: #000;
}
.header.show .spot-menu a i {
  color: #000;
}
.header.show .spot-menu a span {
  color: #000;
}
.header.show .spot-menu .kakao-w {
  display: none;
}
.header.show .spot-menu .kakao-b {
  display: block;
}
.header.show .spot-menu .bars {
  color: #000;
}

.header.scroll .spot-menu .login i {
  color: #000;
}
.header.scroll .spot-menu .login span {
  color: #000;
}
.header.scroll .spot-menu a i {
  color: #000;
}
.header.scroll .spot-menu a span {
  color: #000;
}
.header.scroll .spot-menu .kakao-w {
  display: none;
}
.header.scroll .spot-menu .kakao-b {
  display: block;
}
@media (min-width: 0) and (max-width: 768px) {
  .header.scroll .spot-menu .kakao-b {
    display: none;
  }
}
.header.scroll .spot-menu .bars {
  color: #000;
}

.more-btn {
  position: relative;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}
@media (min-width: 0) and (max-width: 768px) {
  .more-btn {
    display: none;
  }
}
.more-btn ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  width: 0%;
  height: 3px;
  background-color: #2D51D6;
  transition: all 0.5s;
}
.more-btn :hover::after {
  width: 100%;
}

.more-btn.mb {
  display: none;
}
@media (min-width: 0) and (max-width: 768px) {
  .more-btn.mb {
    display: block;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 14px 15px;
    font-size: 13px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 20px 0px;
  }
  .more-btn.mb ::after {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  background-color: transparent;
  z-index: 1000;
  transition: background-color 0.3s;
}
@media (min-width: 0) and (max-width: 1200px) {
  .header {
    height: 90px;
    padding: 0 20px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .header {
    padding: 20px 15px;
  }
}
.header .logo a {
  display: flex;
  align-items: center;
}
.header .logo a img {
  width: 120px;
  vertical-align: middle;
}
@media (min-width: 0) and (max-width: 768px) {
  .header .logo a img {
    width: 80px;
  }
}
.header .logo a img:nth-child(2) ~ img {
  margin-left: 30px;
}

.header.show {
  background-color: #fff;
}
.header.show .logo a {
  display: flex;
  align-items: center;
}
.header.show .logo a img {
  width: 120px;
  vertical-align: middle;
}
.header.show .logo a img:nth-child(odd) {
  display: none;
}
.header.show .logo a img:nth-child(even) {
  display: inline;
}

.header.scroll {
  background-color: #fff;
  border-bottom: 1px solid #D2E0E9;
}
.header.scroll .logo a {
  display: flex;
  align-items: center;
}
.header.scroll .logo a img:nth-child(odd) {
  display: none;
}
.header.scroll .logo a img:nth-child(even) {
  display: inline;
}

.visual {
  position: relative;
}
.visual .swiper .swiper-wrapper .swiper-slide .img-box {
  height: 100vh;
}
.visual .swiper .swiper-wrapper .swiper-slide.swiper-slide-active .img-box {
  animation: fadezoom 4s 0s forwards;
}
.visual .swiper .swiper-wrapper ::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70%, rgb(45, 81, 234) 99%);
  opacity: 0.25;
}
.visual .swiper .swiper-wrapper .slide1 .img-box {
  background: url(../images/img-visual1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.visual .swiper .swiper-wrapper .slide2 .img-box {
  background: url(../images/img-visual2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.visual .swiper-controller {
  position: absolute;
  left: 100px;
  bottom: 80px;
  display: flex;
  z-index: 4;
}
@media (min-width: 0) and (max-width: 1600px) {
  .visual .swiper-controller {
    left: 60px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .visual .swiper-controller {
    left: 15px;
  }
}
.visual .swiper-controller .autoplay-progress {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 5;
}
.visual .swiper-controller .autoplay-progress .circle-box {
  stroke: rgba(255, 255, 255, 0.1);
  stroke-dashoffset: 0px;
}
.visual .swiper-controller .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 40px;
  height: 40px;
  stroke-width: 4px;
  stroke: #f7f7f7;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.visual .swiper-controller .autoplay-progress .btn-control {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}
.visual .swiper-controller .autoplay-progress .btn-control i {
  color: #f7f7f7;
  cursor: pointer;
}
.visual .swiper-controller .autoplay-progress .play {
  display: none;
}
.visual .swiper-controller .inner {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
@media (min-width: 0) and (max-width: 768px) {
  .visual .swiper-controller .inner {
    margin-left: 30px;
  }
}
.visual .swiper-controller .inner .swiper-pagination {
  display: flex;
  align-items: center;
  position: inherit;
  margin: 0 30px;
  height: 100%;
  font-size: 18px;
  color: #f7f7f7;
}
.visual .swiper-controller .inner .swiper-pagination :nth-child(1) ~ span {
  opacity: 0.5;
}
@media (min-width: 0) and (max-width: 1200px) {
  .visual .swiper-controller .inner .swiper-pagination {
    font-size: 17px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .visual .swiper-controller .inner .swiper-pagination {
    font-size: 14px;
    margin: 0 20px;
  }
}
.visual .swiper-controller .inner .swiper-pagination .bar {
  margin: 0 15px;
}
.visual .swiper-controller .inner button {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 8px;
  height: 100%;
  background-color: transparent;
  color: #f7f7f7;
  opacity: 0.5;
  font-weight: 300;
}
@media (min-width: 0) and (max-width: 768px) {
  .visual .swiper-controller .inner button {
    font-size: 17px;
  }
}
.visual .swiper-controller .inner :hover {
  opacity: 1;
}
.visual .swiper-textbox {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(-10%, -50%);
  color: #fff;
  font-weight: 700;
  z-index: 10;
  padding: 0 20px;
}
.visual .swiper-textbox img {
  width: 250px;
  margin-bottom: 30px;
}
@media (min-width: 0) and (max-width: 2000px) {
  .visual .swiper-textbox img {
    width: 200px;
  }
}
@media (min-width: 0) and (max-width: 1600px) {
  .visual .swiper-textbox img {
    width: 160px;
  }
}
.visual .swiper-textbox p {
  font-size: 60px;
  pointer-events: none;
}
@media (min-width: 0) and (max-width: 2000px) {
  .visual .swiper-textbox p {
    font-size: 50px;
  }
}
@media (min-width: 0) and (max-width: 1600px) {
  .visual .swiper-textbox p {
    font-size: 42px;
  }
}
@media (min-width: 0) and (max-width: 1200px) {
  .visual .swiper-textbox p {
    font-size: 36px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .visual .swiper-textbox p {
    font-size: 24px;
  }
}
.visual .swiper-textbox p + p {
  margin-top: 25px;
}
@media (min-width: 0) and (max-width: 768px) {
  .visual .swiper-textbox p + p {
    margin-top: 20px;
  }
}
.visual .swiper-textbox a {
  display: inline-block;
  margin-top: 90px;
  font-size: 17px;
  color: #fff;
}
@media (min-width: 0) and (max-width: 1600px) {
  .visual .swiper-textbox a {
    font-size: 16px;
  }
}
@media (min-width: 0) and (max-width: 1200px) {
  .visual .swiper-textbox a {
    margin-top: 45px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .visual .swiper-textbox a {
    font-size: 14px;
  }
}
.visual .swiper-textbox a span {
  position: relative;
  margin-left: 15px;
}
.visual .swiper-textbox a span i {
  font-size: 18px;
  color: #fff;
  transform: translateX(-10px);
  transition: transform 0.4s ease-in-out;
  z-index: 4;
}
@media (min-width: 0) and (max-width: 768px) {
  .visual .swiper-textbox a span i {
    font-size: 12px;
    transform: translateX(-5px);
  }
}
.visual .swiper-textbox a span:hover i,
.visual .swiper-textbox a span:focus i {
  transform: translateX(0);
}
.visual .swiper-textbox a span::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2D51D6;
  z-index: -1;
}
@media (min-width: 0) and (max-width: 768px) {
  .visual .swiper-textbox a span::after {
    width: 25px;
    height: 25px;
  }
}
.visual .swiper-textbox :nth-child(2) {
  position: relative;
}
.visual .swiper-textbox :nth-child(2)::after {
  content: "";
  display: block;
  width: 250px;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 24%;
  right: -10%;
  transform: translate(10%, -24%);
}
@media (min-width: 0) and (max-width: 2000px) {
  .visual .swiper-textbox :nth-child(2)::after {
    width: 200px;
  }
}
@media (min-width: 0) and (max-width: 1600px) {
  .visual .swiper-textbox :nth-child(2)::after {
    width: 120px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .visual .swiper-textbox :nth-child(2)::after {
    display: none;
  }
}

.scroll-ani {
  position: absolute;
  left: 50%;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 7;
  text-transform: capitalize;
  color: #fff;
  font-size: 13px;
}
@media (min-width: 0) and (max-width: 1200px) {
  .scroll-ani {
    display: none;
  }
}
.scroll-ani .mouse {
  position: relative;
  width: 20px;
  height: 35px;
  border-radius: 50px;
  border: 2px solid #fff;
  margin: 0 auto;
}
.scroll-ani .mouse::after {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  transform: translateX(-50%);
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  animation: scrolldown 2s infinite;
}

.visual::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 2;
  pointer-events: none;
}

.program-sec {
  padding: 180px 0;
}
@media (min-width: 0) and (max-width: 768px) {
  .program-sec {
    padding: 100px 0;
  }
}
.program-sec .container .program {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -120px;
}
@media (min-width: 0) and (max-width: 768px) {
  .program-sec .container .program {
    margin-top: 0px;
  }
}
.program-sec .container .program .program-item {
  position: relative;
  width: calc(50% - 60px);
  padding-right: 20px;
}
@media (min-width: 0) and (max-width: 768px) {
  .program-sec .container .program .program-item {
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
  }
}
.program-sec .container .program .program-item a .img-box {
  position: relative;
  width: 100%;
  padding-top: 80%;
  overflow: hidden;
}
.program-sec .container .program .program-item a .img-box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: 0.3s;
}
.program-sec .container .program .program-item a .text-box {
  margin-top: 25px;
}
.program-sec .container .program .program-item a .text-box .p-text {
  margin-top: 15px;
}
.program-sec .container .program .program-item a .side-text {
  position: absolute;
  top: 0;
  right: 15px;
  transform: translateX(100%);
}
.program-sec .container .program .program-item a .side-text span {
  color: #2D51D6;
  font-size: 14px;
  font-weight: 600;
  writing-mode: vertical-rl;
}
.program-sec .container .program .program-item :hover img {
  transform: scale(1.05);
}
.program-sec .container .program .program-item:nth-child(2) {
  align-self: flex-start;
  margin-top: -200px;
}
@media (min-width: 0) and (max-width: 768px) {
  .program-sec .container .program .program-item:nth-child(2) {
    margin-top: 50px;
  }
}
.program-sec .container .program .program-item:nth-child(3) {
  margin-top: -250px;
}
@media (min-width: 0) and (max-width: 1200px) {
  .program-sec .container .program .program-item:nth-child(3) {
    margin-top: -150px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .program-sec .container .program .program-item:nth-child(3) {
    margin-top: 50px;
  }
}

.banner-sec .container .text-box p {
  font-size: 47px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
@media (min-width: 0) and (max-width: 1600px) {
  .banner-sec .container .text-box p {
    font-size: 42px;
  }
}
@media (min-width: 0) and (max-width: 1200px) {
  .banner-sec .container .text-box p {
    font-size: 34px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .banner-sec .container .text-box p {
    font-size: 22px;
  }
}
.banner-sec .container .text-box p span {
  color: #2D51D6;
}
@media (min-width: 0) and (max-width: 1200px) {
  .banner-sec .container .text-box p br {
    display: none;
  }
}
.banner-sec .img-box {
  position: relative;
  width: 100%;
  margin-top: 20px;
  padding-top: min(50%, 900px);
  overflow-x: hidden;
}
.banner-sec .img-box .door {
  transition: all 2s;
  transition-delay: 0.5s;
  position: absolute;
  z-index: 3;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}
.banner-sec .img-box .left-door {
  left: 0%;
}
.banner-sec .img-box .right-door {
  left: 50%;
}
.banner-sec .img-box .img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.banner-sec .img-box .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.banner-sec.on .img-box .left-door {
  transform: translateX(-101%);
}
.banner-sec.on .img-box .right-door {
  transform: translateX(101%);
}

.now-sec {
  padding: 240px 0;
}
@media (min-width: 0) and (max-width: 1200px) {
  .now-sec {
    padding: 160px 0;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .now-sec {
    padding: 100px 0;
  }
}
.now-sec .container .title {
  text-align: center;
}
.now-sec .container .tab-box {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.now-sec .container .tab-box .tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.now-sec .container .tab-box .tab li .now-btn {
  font-size: 20px;
  font-weight: 600;
  color: #b3b3b3;
  background-color: transparent;
  transition: all 0.3s;
}
@media (min-width: 0) and (max-width: 1200px) {
  .now-sec .container .tab-box .tab li .now-btn {
    font-size: 17px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .now-sec .container .tab-box .tab li .now-btn {
    font-size: 15px;
  }
}
.now-sec .container .tab-box .tab li :hover {
  color: #2D51D6;
}
.now-sec .container .tab-box .tab li.on .now-btn {
  color: #2D51D6;
}
.now-sec .container .tab-box .more-btn {
  position: absolute;
  top: 6px;
  right: 0;
}
@media (min-width: 0) and (max-width: 768px) {
  .now-sec .container .tab-box .more-btn {
    display: none;
  }
}
.now-sec .container .item-box {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
  margin-top: 40px;
}
.now-sec .container .item-box .item {
  width: calc(33.3333333333% - 40px);
  height: 100%;
  margin-bottom: 20px;
}
@media (min-width: 0) and (max-width: 768px) {
  .now-sec .container .item-box .item {
    width: calc(50% - 20px);
  }
}
.now-sec .container .item-box .item .img-box {
  position: relative;
  cursor: none;
}
@media (min-width: 0) and (max-width: 768px) {
  .now-sec .container .item-box .item .img-box {
    cursor: pointer;
  }
}
.now-sec .container .item-box .item .img-box .img-hover {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  background-color: #2D51D6;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
@media (min-width: 0) and (max-width: 768px) {
  .now-sec .container .item-box .item .img-box .img-hover {
    display: none;
  }
}
.now-sec .container .item-box .item :hover .img-hover {
  opacity: 0.8;
}
.now-sec .container .item-box .item .text-box .tit {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}
@media (min-width: 0) and (max-width: 1200px) {
  .now-sec .container .item-box .item .text-box .tit {
    font-size: 18px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .now-sec .container .item-box .item .text-box .tit {
    font-size: 15px;
  }
}
.now-sec .container .item-box .item .text-box .tag {
  margin-top: 20px;
}
@media (min-width: 0) and (max-width: 1200px) {
  .now-sec .container .item-box .item .text-box .tag {
    margin-top: 10px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .now-sec .container .item-box .item .text-box .tag {
    margin-top: 5px;
  }
}
.now-sec .container .item-box .item .text-box .tag span {
  font-size: 17px;
  font-weight: 500;
  color: #2D51D6;
}
@media (min-width: 0) and (max-width: 1200px) {
  .now-sec .container .item-box .item .text-box .tag span {
    font-size: 14px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .now-sec .container .item-box .item .text-box .tag span {
    font-size: 12px;
  }
}
.now-sec .container .cursor {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1000;
}
.now-sec .container .cursor .pointer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #2D51D6;
  font-weight: 700;
  font-size: 13px;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.now-sec .container .cursor.on .pointer {
  opacity: 1;
}

.notice-sec {
  padding: 240px 0;
}
@media (min-width: 0) and (max-width: 1200px) {
  .notice-sec {
    padding: 160px 0;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .notice-sec {
    padding: 100px 0;
  }
}
.notice-sec .container {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 0) and (max-width: 768px) {
  .notice-sec .container {
    flex-direction: column;
  }
}
.notice-sec .container .title-box {
  flex: 1;
}
@media (min-width: 0) and (max-width: 768px) {
  .notice-sec .container .title-box {
    margin-bottom: 20px;
  }
}
.notice-sec .container .title-box .more-btn {
  margin-top: 80px;
}
.notice-sec .container .list-box {
  flex: 3;
}
.notice-sec .container .list-box .list {
  border-top: 2px solid #000;
}
.notice-sec .container .list-box .list li {
  border-bottom: 1px solid #b3b3b3;
}
.notice-sec .container .list-box .list li a {
  display: flex;
  padding: 40px 0;
}
@media (min-width: 0) and (max-width: 1200px) {
  .notice-sec .container .list-box .list li a {
    padding: 35px 0;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .notice-sec .container .list-box .list li a {
    flex-wrap: wrap;
    padding: 25px 0;
  }
}
.notice-sec .container .list-box .list li a .date {
  margin-right: 50px;
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 0) and (max-width: 1200px) {
  .notice-sec .container .list-box .list li a .date {
    font-size: 18px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .notice-sec .container .list-box .list li a .date {
    font-size: 15px;
  }
}
.notice-sec .container .list-box .list li a .text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
}
@media (min-width: 0) and (max-width: 1200px) {
  .notice-sec .container .list-box .list li a .text-box {
    font-size: 20px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  .notice-sec .container .list-box .list li a .text-box {
    font-size: 17px;
  }
}
.notice-sec .container .list-box .list li a .text-box span {
  padding-right: 30px;
}
@media (min-width: 0) and (max-width: 768px) {
  .notice-sec .container .list-box .list li a .text-box span {
    margin-top: 15px;
  }
}
.notice-sec .container .list-box .list li a .text-box i {
  font-size: 34px;
  margin-right: 20px;
  transition: all 0.5s;
}
@media (min-width: 0) and (max-width: 768px) {
  .notice-sec .container .list-box .list li a .text-box i {
    display: none;
  }
}
.notice-sec .container .list-box .list li :hover {
  color: #2D51D6;
}
@media (min-width: 0) and (max-width: 768px) {
  .notice-sec .container .list-box .list li :hover {
    color: #000;
  }
}
.notice-sec .container .list-box .list li :hover i {
  color: #000;
  transform: translateX(15px);
}
.notice-sec .container > .more-btn {
  margin-top: 40px;
}

footer {
  position: relative;
  background-color: #404247;
  padding: 70px 0 100px 0;
}
@media (min-width: 0) and (max-width: 768px) {
  footer {
    padding: 40px 0;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  footer .container {
    display: flex;
    flex-direction: column;
  }
}
footer .container .top {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 0) and (max-width: 768px) {
  footer .container .top {
    order: 2;
    flex-direction: column;
  }
}
footer .container .top .left {
  display: flex;
  color: #fff;
}
@media (min-width: 0) and (max-width: 768px) {
  footer .container .top .left {
    margin-top: 20px;
    flex-direction: column;
  }
}
footer .container .top .left .ft-logo {
  flex: 1 1 130px;
  font-size: 22px;
}
@media (min-width: 0) and (max-width: 1200px) {
  footer .container .top .left .ft-logo {
    font-size: 18px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  footer .container .top .left .ft-logo {
    flex: auto;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  footer .container .top .left .ft-logo br {
    display: none;
  }
}
footer .container .top .left address {
  margin-left: 20px;
}
@media (min-width: 0) and (max-width: 768px) {
  footer .container .top .left address {
    margin-left: 0;
    margin-top: 10px;
  }
}
footer .container .top .left address dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
@media (min-width: 0) and (max-width: 1200px) {
  footer .container .top .left address dl {
    font-size: 14px;
  }
}
@media (min-width: 0) and (max-width: 768px) {
  footer .container .top .left address dl {
    font-size: 11px;
  }
}
footer .container .top .left address dl dt {
  flex: 0 0 90px;
}
footer .container .top .left address dl dd {
  flex: 1 1 calc(100% - 90px);
}
footer .container .top .left address dl dd a {
  color: #fff;
}
@media (min-width: 0) and (max-width: 768px) {
  footer .container .top .right {
    margin-top: 30px;
  }
}
footer .container .top .right .ft-logo {
  display: flex;
  align-items: center;
}
footer .container .top .right .ft-logo .img-box {
  width: 120px;
}
@media (min-width: 0) and (max-width: 1200px) {
  footer .container .top .right .ft-logo .img-box {
    width: 100px;
  }
}
footer .container .top .right .ft-logo :nth-child(1) {
  opacity: 0.4;
}
footer .container .top .right .ft-logo :nth-child(2) {
  margin-left: 30px;
}
footer .container .top .right .copy {
  display: none;
}
@media (min-width: 0) and (max-width: 768px) {
  footer .container .top .right .copy {
    display: block;
    font-size: 10px;
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.2);
  }
}
footer .container .bottom {
  margin-top: 45px;
}
@media (min-width: 0) and (max-width: 768px) {
  footer .container .bottom {
    order: 1;
    margin-top: 0;
  }
}
footer .container .bottom .ft-link {
  display: flex;
}
footer .container .bottom .ft-link li a {
  color: #fff;
  font-size: 14px;
}
@media (min-width: 0) and (max-width: 768px) {
  footer .container .bottom .ft-link li a {
    font-size: 12px;
  }
}
footer .container .bottom .ft-link li + li {
  margin-left: 25px;
}
footer .container .bottom .ft-link :nth-child(2) a {
  font-weight: 600;
}
footer .container .bottom .copy {
  font-size: 12px;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.2);
}
@media (min-width: 0) and (max-width: 768px) {
  footer .container .bottom .copy {
    display: none;
  }
}
footer .top-btn-box {
  position: absolute;
  top: 0;
  right: 40px;
  transform: translate(0, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #2D51D6;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 0) and (max-width: 768px) {
  footer .top-btn-box {
    width: 50px;
    height: 50px;
  }
}
footer .top-btn-box .top-btn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  color: #fff;
  font-size: 22px;
}
footer .top-btn-box:hover {
  background-color: #000;
}
@media (min-width: 0) and (max-width: 768px) {
  footer .top-btn-box:hover {
    background-color: #2D51D6;
  }
}/*# sourceMappingURL=style.css.map */