/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, code, address, ul, ol, li, nav, section, article, header, footer, main, aside, dl, dt, dd, table, thead, tbody, tfoot, label, caption, th, td, form, fieldset, legend, hr, input, button, textarea, object, figure, figcaption {
  margin: 0;
  padding: 0;
}

body, input, select, textarea, button, img, fieldset {
  border: none;
}

ul, ol, li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

address, cite, code, em, i {
  font-style: normal;
  font-weight: normal;
}

label, img, input, select, textarea, button, a {
  vertical-align: middle;
}

u, a {
  text-decoration: none;
  color: #000;
}

button {
  cursor: pointer;
}

a:hover, a:active {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Normalize */
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  outline: 0;
}

textarea {
  resize: none;
}

.blind {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.hidden {
  display: none;
}

body {
  position: relative;
}

img {
  max-width: 100%;
}

body {
  font-family: "Noto Sans KR", "Roboto", sans-serif;
}

@keyframes fadezoom {
  from {
    transform: scale(1.15);
  }
  to {
    transform: scale(1);
  }
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  z-index: 1000;
}
#header .logo a {
  display: flex;
  align-items: center;
}
#header .logo a img {
  width: 120px;
  vertical-align: middle;
}
#header .logo a img:nth-child(2) ~ img {
  margin-left: 30px;
}

.visual {
  position: relative;
}
.visual .swiper .swiper-wrapper .swiper-slide .img-box {
  height: 100vh;
}
.visual .swiper .swiper-wrapper .swiper-slide.swiper-slide-active .img-box {
  animation: fadezoom 4s 0s forwards;
}
.visual .swiper .swiper-wrapper .slide1 .img-box {
  background: url(../images/img-visual1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.visual .swiper .swiper-wrapper .slide2 .img-box {
  background: url(../images/img-visual2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.visual .swiper-controller {
  position: absolute;
  left: 100px;
  bottom: 80px;
  display: flex;
  width: 220px;
  z-index: 4;
}
.visual .swiper-controller .autoplay-progress {
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 5;
}
.visual .swiper-controller .autoplay-progress svg {
  --progress: 0;
  position: absolute;
  top: 0px;
  z-index: 10;
  width: 40px;
  height: 40px;
  stroke-width: 4px;
  stroke: #f7f7f7;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.visual .swiper-controller .autoplay-progress i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f7f7f7;
}
.visual .swiper-controller .swiper-button-next,
.visual .swiper-controller .swiper-button-prev {
  width: 8px;
  height: 13px;
  color: #f7f7f7;
}
.visual .swiper-textbox {
  position: absolute;
}

.visual::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 2;
  pointer-events: none;
}

nav {
  height: 100%;
}
nav .gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 640px;
  height: 100%;
}
nav .gnb li {
  height: 100%;
}
nav .gnb li a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  font-size: 19px;
  font-weight: 500;
  color: #f7f7f7;
  text-transform: uppercase;
}

.spot-menu {
  display: flex;
  align-items: center;
}
.spot-menu a i {
  width: 19px;
  height: 21px;
  color: #f7f7f7;
}
.spot-menu a img {
  width: 22px;
  height: 21px;
}
.spot-menu button {
  background-color: transparent;
}
.spot-menu span {
  font-size: 13px;
  color: #f7f7f7;
}
.spot-menu [aria-hidden] {
  display: none;
  color: #f7f7f7;
}
@media (min-width: 0) and (max-width: 1200px) {
  .spot-menu [aria-hidden] {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */