// IR
@mixin blind {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

// 백그라운드 이미지
@mixin bg($url) {
  background: url(#{$imgURL}#{$url});
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

// 반응형
@mixin hidden {
  display: none;
}

@mixin vp2000 {
  @media (min-width: 0) and (max-width: $vp2000) {
    @content;
  }
}

@mixin vp1600 {
  @media (min-width: 0) and (max-width: $vp1600) {
    @content;
  }
}

@mixin vp1200 {
  @media (min-width: 0) and (max-width: $vp1200) {
    @content;
  }
}

@mixin vp768 {
  @media (min-width: 0) and (max-width: $vp768) {
    @content;
  }
}

// 정렬
@mixin aic {
  display: flex;
  align-items: center;
}

@mixin ab($left, $top) {
  position: absolute;
  left: $left;
  top: $top;
  transform: translate(-$left, -$top);
}