// 반응형 기준
$vp768: 768px;
$vp1200: 1200px;
$vp1600: 1600px;
$vp2000: 2000px;

// 색상
$white: #fff;
$whitef7: #f7f7f7;
$black: #000;
$blue2d: #2D51D6;
$blue19: #1939af;
$grayb3: #b3b3b3;
$gray40: #404247;

// imgURL
$imgURL: '../images/';