nav {
  height: 100%;
  .gnb {
    @include aic;
    justify-content: space-between;
    width: 640px;
    height: 100%;
    li {
      height: 100%;
      a {
        @include aic;
        height: 100%;
        padding: 0 20px;
        font-size: 19px;
        font-weight: 500;
        color: $whitef7;
        text-transform: uppercase;
      }
    }
  }
}